.detail-container {
  margin-top: 40px;
  padding: 10px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  box-shadow: 0px 6px 18px #0000001a;
  border-radius: 10px;
  color:#00000099;
}

.poster img {
  border-radius: 10px;
}

.info {
  width: 100%;
}

.field {
  margin-left: 40px;
  text-align: left;
  font-size: 22px;
  margin-bottom: 20px;
}

.label {
  color:#000000cc;
  font-size: 20px;
  font-weight: bold;
}

.label-p{
  display:inline-block;
  color:#00000099;
  font-size: 20px;
}

.title{
  color:#000000;
  font-size: 30px;
}