nav {
  display: flex;
  justify-content: space-between;
  font-weight: bold;
  padding-bottom: 30px;
  border-bottom: 1px solid rgba(33, 33, 33, 0.933);
}

.logo {
  display: flex;
  align-items: center;
  padding: 10px;
  border: none;
  color: #000dff;
  font-size: 28px;
}

.nav-item {
  display: flex;
  justify-content: center;
  align-items: center;
}

li,
:link {
  display: inline-block;
}

ul {
  margin: 0;
  padding: 0;
}

.link {
  text-decoration: none;
  padding: 10px 5px;
  background-color: black;
  border-radius: 2px;
  color: #fff;
  transition: all ease-in-out 0.3s;
}

.link:hover {
  color: rgb(84, 84, 84);
}

li:not(:last-child) :link {
  margin-right: 50px;
}
